
<div class="container">


    <h1>Producto-Crear-Editar  </h1>
    <hr>


    <div class="row text-right">
      <div class="col">
        <button class="btn btn-danger"
                routerLink="/producto">
          <i class="fa fa-arrow-left"></i>
          Regresar
        </button>
      </div>
    </div>

    <div class="row animated fadeIn faster">
      <div class="col">

        <form (ngSubmit)="crearOActualizarProducto( f )"
              #f="ngForm">

          <div class="form-group">
            <label>Nombre</label>
            <input type="text"
                   class="form-control"
                   placeholder="Nombre del producto"
                   [(ngModel)]="ProductoSeleccionado.nombre"
                   name="nombre"
                   required>
          </div>

          <div class="form-group">
            <label>Descripcion</label>
            <input type="text"
                   class="form-control"
                   placeholder="descripcion"
                   [(ngModel)]="ProductoSeleccionado.descripcion"
                   name="descripcion"
                   required>
          </div>

         <!-- <div class="form-group">
            <label>Descripcion</label>
            <textarea class=form-control"
                  placeholder="Nombre del héroe"
                  [(ngModel)]="producto.descripcion"
                  name="descripcion"
                  required>

            </textarea>
          </div>-->

          <div class="form-group">
            <label>Precio</label>
            <input type="number"
                   class="form-control"
                   [(ngModel)]="ProductoSeleccionado.precio"
                   name="precio"
                   placeholder="$">
          </div>

          <div class="form-group">
            <label>Descuento</label>
            <input type="number"
                   class="form-control"
                   [(ngModel)]="ProductoSeleccionado.descuento"
                   name="descuento"
                   placeholder="%">
          </div>

          <div class="form-group">
            <label>Fecha Inicio Descuento</label>
            <input type="date"
                   class="form-control"
                   [(ngModel)]="ProductoSeleccionado.fecha_inicial_descuento"
                   name="fecha_inicial_descuento"
                   placeholder="%">


            <label>Fecha Fin Descuento</label>
            <input type="date"
                   class="form-control"
                   [(ngModel)]="ProductoSeleccionado.fecha_final_descuento"
                   name="fecha_final_descuento"
                   placeholder="%">
          </div>





          <hr>
          <div class="form-group text-center">
            <button type="submit"
                    class="btn btn-primary w-25">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </div>


        </form>


      </div>
    </div>
</div>

